@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #ffffff;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.logo {
  max-height: 50px;
  height: auto;
  width: auto; 
  border-radius: 20%;
}
.envio-bar {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}

.envio-text {
  font-size: 1rem;
  font-weight: bold;
}

.envio-bar img {
  vertical-align: middle;
}

/* Evita la superposición y asegura el correcto posicionamiento */
.nav-item .dropdown-menu .dropdown-menu {
  display: none; /* Por defecto oculto */
  position: absolute; /* Asegura que se posicionen relativos al menú principal */
  left: 100%; /* Despliega los submenús a la derecha del menú principal */
  top: 0; /* Alinea el submenú en la parte superior */
  z-index: 1; /* Asegura que no se superpongan los submenús */
}

/* Muestra el submenú cuando se hace hover en "Hombre" o "Mujer" */
.nav-item .dropdown-menu .nav-item:hover > .dropdown-menu {
  display: block; /* Muestra el submenú */
}

/* Asegura que los menús "Hombre" y "Mujer" no se tapan entre sí */
.nav-item .dropdown-menu .nav-item {
  position: relative;
}

.card {
  margin: 20px;
}

.navbar {
    display: flex;
    position: relative;
    width: 100%; 
    z-index: 1001; 
    padding: 20px 0;
}



.category-item {
  padding: 50px;
  text-align: center;
}
.category-item img {
      width: 150px;
      min-width: none; height: 150px;
      object-fit:  contain ;
      border-radius: 50%;
      border: 2px solid #000000;
      transition-duration: 0.5s;
}
.category-item  :hover{
        scale: 1.15;
}

.category-item h5 {
  margin-top: 10px;
  font-weight: bolder;
}

.bold-text{
  font-weight: bolder;
  font-family: 'Inknut Antiqua', serif;
}

.d-flex .text-left .text-right{
  font-weight: bolder;
}
.container-fluid.best-sellers .row {
  justify-content: space-around; /* Distribuye el espacio de manera uniforme alrededor de los elementos */
  align-items: center; /* Alinea verticalmente los productos en la línea base */
}
.row .product-item .img-fluid{
  border-radius: 10%;
  max-height: 70%;
  max-width: 90%;
  object-fit: cover;  
  margin: auto; 
}

.product-item img {
  width: 100%; 
  height: auto; 
  aspect-ratio: 4 / 4; /* Opcional: fuerza a todas las imágenes a tener una relación de aspecto cuadrada */
  transition-duration: 0.5s;

}
.product-item :hover{
  scale: 1.045;
}

.product-item {
  flex: 0 1 32%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.product-item {
  height: 300px; 
}

.product-item img {
  max-height: 80%; 
}


@media (min-width: 768px) {
  .product-item {
    margin-bottom: 0;
  }
}


footer {
    position: relative;
    bottom: 0;
    margin-top: -50px;
  }
  
  @media (max-height: 800px) {
    footer {
      position: static;
    }
    header {
      padding-top: 40px;
    }
  }
  
  .footer-distributed {
    background-color: #020202;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 150px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span {
    color: #ffffff;
  }
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: #bdbdbd;
  }
  
  .footer-links a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  }
 